<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Convite para Avaliação da ferramanta ARS - Automatização de Revisões Sistemáticas</title>
</head>
<body>

	<div style="background-color: #1B1B1B; background-image: linear-gradient(to bottom, #222222, #111111); background-repeat: repeat-x;color: #999999; display: table; width:100%; padding: 10px 20px;">
	  <a title="ARS - Automatização de Revisões Sistemáticas" href="#" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; text-decoration: none; color: #999; font-size: 18px;">ARS - Automatização de Revisões Sistemáticas</a>
	</div>
	
	<div style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; color: #333333; font-size:14px; line-height:20px; padding: 0 20px;">
	
	  <h3>Caro(a) {NOME},</h3>
	  
	  <p style="background-color:#ffc; padding: 8px;">Você está recebendo este convite por ter participado de pesquisas envolvendo Revisões Sistemáticas da Literatura em Engenharia de Software.</p>
	  
	  <p style="clear:both; margin-top: 1em; padding-top: 1em; border-top: 1px solid #CCC;">
	  	Abaixo você encontrará dois vídeos que apresentam o uso da ferramenta ARS para suporte ao processo de condução RSL além de um questionário de avaliação, que juntos devem tomar cerca de 10 a 20 minutos do seu tempo. 
	  </p>
	  
	  <p>Gostaríamos de novamente contar com a sua participação na avaliação da mesma:</p>
	  
	  <p>
	  	<a title="Vídeo 1 de apresentação da Ferramenta" href="http://www.youtube.com/watch?v=jK24jZUv7y4" style="background-color: #5BB75B; background-image: linear-gradient(to bottom, #62C462, #51A351); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3; border-radius: 4px 4px 4px 4px; border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); color: #ffffff; cursor: pointer; display: inline-block; margin-bottom: 0; padding: 4px 14px; text-align: center; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); vertical-align: middle; text-decoration: none;">Vídeo 1 - Planejamento (5:30 min)</a>
	  	<a title="Vídeo 2 de apresentação da Ferramenta" href="http://www.youtube.com/watch?v=f1k21hY2VKM" style="background-color: #49AFCD; background-image: -moz-linear-gradient(center top , #5BC0DE, #2F96B4); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3; border-radius: 4px 4px 4px 4px; border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); color: #ffffff; cursor: pointer; display: inline-block; margin-bottom: 0; padding: 4px 14px; text-align: center; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); vertical-align: middle; text-decoration: none;">Vídeo 2 - Execução e Resultados (6:30 min)</a>
	  <p>
	  
	  <p>
	  	<a title="Questionário de Avaliação" href="http://goo.gl/j9gRw" style="background-color: #FAA732; background-image: linear-gradient(to bottom, #FBB450, #F89406); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3; border-radius: 4px 4px 4px 4px; border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); color: #ffffff; cursor: pointer; display: inline-block; margin-bottom: 0; padding: 6px 21px; text-align: center; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); vertical-align: middle; text-decoration: none; font-size: 1.5em;">Responda o questionário</a>
	  </p>
	  
	  <p>Se desejar conhecer mais do projeto:</p>
	  <ul>
		<li style="margin-bottom:1em;">Acesse a Ferramenta ARS - Etapa de Planejamento (30 a 60 min):<br />
		<a href="http://ars.enova.com.br" target="_blank">http://ars.enova.com.br</a></li>
		<li style="margin-bottom:1em;">Leia o Relatório Técnico do Projeto (37 páginas):<br />
		<a href="http://ars.enova.com.br/downloads/documentacaoProjeto.pdf" target="_blank">http://ars.enova.com.br/downloads/documentacaoProjeto.pdf</a></li>
	  </ul>

	  <p style="clear:both; margin-top: 1em; padding-top: 1em; border-top: 1px solid #EFEFEF;">
	  	Obrigado pela sua colaboração,<br />
	    <strong>Jefferson Seide Molléri</strong>, mestrando (<a href="mailto:jefferson.molleri@univali.br">jefferson.molleri@univali.br</a>)<br />
	    <strong>Fabiane Barreto Vavassori Benitti</strong>, orientadora (<a href="mailto:fabiane.benitti@univali.br">fabiane.benitti@univali.br</a>)
	  </p>
	  <div style="font-size: 11px; line-height: 15px; clear:both; margin-top: 1em; padding-top: 1em; border-top: 1px solid #EFEFEF;">
	    <strong>UNIVALI - Universidade do Vale do Itajaí</strong><br />
	    Mestrado em Computação Aplicada<br />
	    Rua Uruguai, 458 - Bloco D8 - sala 104 - Térreo<br />
	    Centro - Itajaí - Santa Catarina<br />
	    Telefone: (47) 3341-7907 | E-mail: <a href="mca@univali.br">mca@univali.br</a>
	  </div>
	  
	</div>
	
	<div style="margin-top: 20px; border-top: 5px solid #EFEFEF; padding-top: 4px;">&nbsp;</div>
</body>
</html>