# Symfony 1.4
config/databases.yml
apps/erp/config/factories.yml
.buildpath
.project
.settings
.idea
.DS_Store
.rsync_cache
catalog.xml
config/databases.yml

log/*
cache/*
web/uploads
web/pdf_files
web/knp_sn*
data/sql/*.sql

/apps/adm/config/factories.yml
/apps/adm/modules/mail/templates/mailer.php

# /app/cache/*
# /app/logs/*
# !app/cache/.gitkeep
# !app/logs/.gitkeep
